@import "reset.css";


html {
    background: url(/images/sf_skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

img {
    display: block;
}

#content {
    width: 600px;
    margin: 0 auto 75px auto;
}

#logo {
    width: 100%;
    margin: 75px auto;
}

#chart {
    width: 480px;
    margin: 15px auto 60px auto;
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 2.5vw;
    color: #EEEEEE;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #FD2B12;
}
